{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2>Détail playlist :</h2>
    {{ include('_admin.playlist.form.html.twig') }}
    <!-- boucle sur l'affichage des formations -->
    {% for formation in playlist.formations %}
        <div class="row mt-1">
            <div class="col-md-auto">
                {% if formation.miniature %}
                    <img src="{{ formation.miniature }}" alt="formation image miniature">
                {% endif %}  
            </div>
            <div class="col d-flex align-items-center">
                {{ formation.title }}     
            </div>
        </div>
    {% endfor %}
{% endblock %}
